<!-- begin footer -->
<div class="footer">
    <div class="container">
        <div class="row start bottom-8">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <a href="https://github.com/computationales" target="_blank">
                          <div class="icon fab fa-github"></div></a>
                        <a href="https://computationales.ethz.ch/" target="_blank">
                          <div class="icon fa fa-flask"></div></a>
                        <a href="http://twitter.com/SteniBocker/" target="_blank">
                          <div class="icon fab fa-twitter"></div></a>
                    </div>
                </div>
                <div class="row top-4">
                    <div class="col-md-2 col-sm-4">
                        <ul>
                            <h5 class="bottom-2">About</h5>
                            <li><a href="https://computationales.ethz.ch/">Computationales</a></li>
                            <li><a href="https://computationales.ethz.ch/">Our Team</a></li>
                            <li><a href="https://computationales.ethz.ch/">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <ul>
                            <h5 class="bottom-2">Resources</h5>
                            <li><a href="https://github.com/computationales">Packages</a></li>
                            <li><a href="https://computationales.ethz.ch/">Publications</a></li>
                            <li><a href="https://computationales.ethz.ch/">Blog</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- / end footer -->
